img {
    width: 55px;
    position: absolute;
}

h1 {
    position: 0.1px;
    background-color: blueviolet;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

h2 {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
}

.destacar {
    color: blueviolet;
    font-style: oblique;
    font-weight: 500;
}

#sebas {
    background-color: chartreuse;
    width: 200px;
    height: 300px;
    text-align: center;
    padding: 15px;
    margin-left: 60px;
    border: 5px solid black;
}