body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(58,58,105,1) 35%, rgba(0,212,255,1) 100%);
}

.titulo{
    text-align: center;
    font-size: 105px     ;
    color: rgb(126, 175, 219);
    margin: 50px
    
}

img{
    height: 20%;
    position: absolute;
    width: 300px;  
} 

.secciones{
    display: flex;
    color: aliceblue;
    font-size: 50px;
    
}

p{
    padding-left: 150px;
}