body{
    background: rgb(163,120,139);
    background: radial-gradient(circle, rgba(163,120,139,1) 0%, rgba(148,187,233,1) 100%);
}

.titulo{
    text-align: center;
    font-size: 105px     ;
    color: rgb(2, 19, 34);
    margin: 50px
    
}

img{
    height: 20%;
    position: absolute;
    width: 300px;  
} 

.secciones{
    display: flex;
    color: aliceblue;
    font-size: 50px;
    
}

p{
    padding-left: 150px;
}